/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #d1e7dd;
}

.room-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #084298;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.mission-chain-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mission,
.chain {
  text-align: center;
}

.mission-title,
.chain-title {
  font-weight: bold;
  font-size: 18px;
  color: #084298;
}

.mission-content,
.chain-count {
  font-size: 24px;
  font-weight: bold;
}

.current-word {
  font-size: 18px;
  color: #495057;
}

.participants-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.participant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.participant-avatar {
  margin-bottom: 5px;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.participant-name {
  font-size: 14px;
  font-weight: bold;
  color: #212529;
}

.participant-id {
  font-size: 12px;
  color: #6c757d;
}

.chat-container {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-messages {
  height: 150px;
  overflow-y: auto;
  background-color: #f1f3f5;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}